* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background: rgb(14, 14, 15);
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    text-align: center;
    padding: 10px 150px;
    border-top: 4px crimson solid;

}



.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1.6em;
    cursor: pointer;


}

.logo span{
    color: white;
    cursor: pointer;
    transition-duration: 1.5s;
}


.logo:hover {
    span {
        color: crimson;
        cursor: pointer;
        text-shadow: 0 0 5px crimson;
    }


}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding: 20px;
    cursor: pointer;
    transition-duration:0.5s;
}

nav a:hover {
    color: brown;
    border-bottom: brown solid 4px;
    background-color: rgba(255, 255, 255, 0.247);
    transition-duration: 0.5s;

}

section {
    padding: 100px 200px;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(images/Picture3.png) no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;

}

.main2 h2 {
    color: black;
    font-size: 1.4em;
    font-weight: 500;
}

.main2 h2 span {
    display: inline-block;
    margin: 10px;
    color: rgb(12, 11, 87);
    font-size: 2em;
    font-weight: 600;
}

.main2 h3 {
    font-weight: 800;
    margin-top: 6px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.mainbtn {
    text-decoration: none;
    color: white;
    background-color: crimson;
    font-size: 16px;
    border: #00000000 solid 2px;
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.8s;


}

.mainbtn:hover {
    background-color:rgb(112, 13, 33);
}


.social-icons a {
    color: rgb(12, 11, 87);
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: crimson;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-decoration: none;
}

.title:hover {
    color: rgba(220, 20, 60, 0.829);
    transition: 0.5s;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    margin-left: 90px;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    font-weight: bold;
    

}

.info h3{
    color: black;
    cursor: pointer;
    transition:color ease-out 0.5s;
}

.span-b {
    transition:color ease-out 0.5s;
    cursor: pointer;
}

.card:hover {

    transform: scale(1.1);

    .info h3 {
        transition: 0.5s ease-out 0.5s ;
        transform: scale(1.2);

        .span-b {
            color: crimson;
            transition:color ease-out 0.5s;
        }
    }
}


.icon {
    color: crimson;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: crimson;
    font-size: 1.2em;
    font-weight: 600px;
    margin: 10px;
}

.projects {
    background-color: rgb(0, 0, 0);
}

.projects .content {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;

}

.project-card {
    background-color: #fff;
    border: 1px solid white;
    min-height: 13em;
    width: 30em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition-duration: 0.4s;

}

.project-card:hover {
    transform: scale(1.05);


    .project-category {
        font-size: 17px;
        font-weight: bold;
        transition: 1s ease;
        transition-delay: 0.4s;

    }

    .span-c {
        color: crimson;
        transition: 0.5s ease;

    }
}

.project-images img {
    width: 100%;
}

.project-card:hover .project-images {
    opacity: 0.9;
    transition: 2s ease;
}

.proejct-info {
    padding: 1em;
}

.project-category {
    font-size: 14px;
    color: black;
}

.project-title {
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-top: 10px;
}

.cards content {
    height: 900px;
    width: 100%;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: black;
}

.footer {
    background-color: rgb(5, 5, 5);
    color: white;
    padding: 2em;
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.footer-title {
    font-size: 1.5em;
    font-weight: 600;
    align-items: center;
    padding-top: 20px;
}

footer span {
    color: crimson;
}

.projects span {
    color: crimson;
}

.aboutbtn {
    color: white;
    background-color: crimson;
    font-size: 1.3em;
    display: inline-block;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: 0.7s ease;
    margin-left: 1100px;

}

.aboutbtn:hover {
    background-color: rgb(158, 15, 44);
    transform: scale(1.2);
    transition: 0.5s ease;

}

input {
    border-top: none;
    background: rgba(1, 1, 1, 0%);
    border: #305bd1 solid 2px;
    border-radius: 15px;
    display: inline;
    padding: 15px;
    justify-content: space-between;
    transition: 0.5s ease;
    color: white;
    font-weight: bold;
    width: 250px;


    input:hover {
        border-color: crimson;
    }

    label {
        display: inline;
        font-weight: 700;
    }
}

/* Medium screens (Laptops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main {
        padding: 2em;
    }

    .card {
        width: calc(33.33% - 20px);
    }
}

/* Small screens (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main {
        padding: 1.5em;
    }

    .card {
        width: calc(50% - 20px);
        float: left;
    }

    .content {
        margin: 0;
        padding: 0;

    }

    .cards {
        display: inline-block4;
        height: 700px;
        width: 100%;
    }
}

/* Extra small screens (Mobiles) */
@media only screen and (max-width: 767px) {

    header {
        padding: 12px 20px;

    }

    .logo {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        font-size: 0.8em;
    }

    .nav a {
        text-decoration: none;
        color: white;
        font-size: 0.7em;
        font-weight: 500;
        padding: 10px;
        transform: scale(1.1);
    }

    .main {
        padding: 1em;
        background-image: url(../Alrahman/images/media-phone.png);
    }

    .card {
        width: 100%;
        display: inline-block;
        margin: 20px;
    }

    .cards {
        display: inline-block;
        height: 700px;
        width: 100%;

    }

    .content {
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    .footer {
        width: 100%;

    }
}